# Node and Vendor dependencies
/vendor/
/node_modules/

# Logs and debug files
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db

# Laravel environment
.env
.env.backup
.env.production

# Laravel storage and build artifacts
/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with alternative public paths
public_html/storage
public_html/hot

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDEs and editor settings
/.idea
/.vscode
/.fleet
/.zed

# Others
Homestead.yaml
Homestead.json
auth.json
.phpactor.json
/.nova
 